:root {
  --black: #1d1d1d;
  --white: #fdfdfd;
  --plurple: #6566f1;
  --display-font: "Manrope", sans-serif;
  --prose-font: "Newsreader", serif;
  --simple-font: "Comfortaa", sans-serif;
  --code-font: "Cascadia Code", monospace;
}

* {
  transition: 0.2s ease;
}

html,
body {
  color: var(--white);
  background: var(--black);
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
